*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  font-family: monospace;
  background-color: #1b1b1b;
  color: #5381b5
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: transparent;
  border: 1px solid #b477c5;
  border-radius: 0.25em;
  padding: 0.25rem 0.5rem;
  margin: 0;
  color: #5381b5;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}